<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanjesh.motomart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotoMart">
        <activity android:name=".DAO.Product_dao"></activity>
        <activity android:name=".Entity.product_sale" />
        <activity android:name=".Entity.product" />
        <activity android:name=".Entity.category" />
        <activity android:name=".Entity.cart" />
        <activity android:name=".Repository.Product_Repository" />
        <activity android:name=".Repository.Cart_Repository" />
        <activity android:name=".Response.Product_Response" />
        <activity android:name=".Response.Image_Response" />
        <activity android:name=".Response.Cart_Response" />
        <activity android:name=".Update" />
        <activity android:name=".Product_View" />
        <activity android:name=".Category_View" />
        <activity android:name=".Slash_Screen" />
        <activity android:name=".SignUp_Activity" />
        <activity android:name=".Signup_Act" />
        <activity android:name=".Shared_Preference" />
        <activity android:name=".Shared_Prefence" />
        <activity android:name=".RegisterAct" />
        <activity android:name=".Log_IN" />
        <activity android:name=".Main_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>